@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {
    height: 100%;
    width: 100%;
}
.seleccionado {
    border: 3px solid #ff9800;
    box-shadow: 0 0 15px rgba(255, 152, 0, 0.8);
}
* {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", serif;
    color: #ffffff;
}
#navegacion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.nav-opc:hover {
    animation: animacion 6s infinite;
}
nav {
    padding-left: 850px;
}
@keyframes animacion {
    0% {
        color: rgba(230, 39, 245, 0.8);
        text-shadow: #ffffff;
    }
    25% {
        color: rgba(163, 10, 138, 0.8); 
        text-shadow: #ffffff;
    }
    50% {
        color: rgba(138, 8, 170, 0.8); 
        text-shadow: #ffffff;
    }
    75% {
        color: rgba(67, 7, 163, 0.8);
        text-shadow: #ffffff;
    }
    100%, 0% {
        color: rgba(230, 39, 245, 0.8);
        text-shadow: 0px 0px 20px  #ffffff;
    }
}
a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
}
body {
    background: black;
    background-image: url(/PROYECTO_PAGINA_SUSCRIPCION/Imagenes/Captura\ de\ pantalla\ 2025-03-02\ 104037.png);
    background-repeat: no-repeat;
    background-size: 500px auto;
    background-position: center;
}
#img-nav {
    width: 80px;
}
#container {
    display: flex;
    margin: 25px;
}
.Planes {
    margin: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px;
}
fieldset {
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease-in-out;
}
fieldset:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 30px #ffffff;
}
.container-plan {
    border: 1px solid #ffffff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#basico {
    background: linear-gradient(150deg,rgba(5,45,120),rgba(59, 3, 150),rgba(97, 4, 204));
}
#estandar {
    background: linear-gradient(150deg,rgba(5,45,120),rgb(113, 6, 212),rgb(204, 4, 194));
}
#premium {
    background: linear-gradient(150deg,rgba(5,45,120),rgb(103, 7, 230),rgb(243, 5, 5));
}
h3 {
    font-weight: 500;
    font-size: 15px;
}
p {
    margin-bottom: 10px;
    font-size: 20px;
}
button {
    margin: 25px;
    padding: 15px 100px;
    background: blueviolet;
    border: none;
    font-size: 30px;
}
footer {
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 10px;
}